@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    
</div>

<p>
@*<div>
    <table>
        <tr>
            <td ><h3><a asp-action="Tests">Select a test</a></h3></td>
        <tr />
        <tr>
            <td ><h3><a asp-action="Admin">Admin mode</a></h3></td>
        <tr />
    </table>
    <p>
</div>*@
