<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ExaminationConnectionString"
			providerName="System.Data.SQLClient"
			connectionString="data source=ANTONK-573;Initial Catalog=ExaminationCodeFirst;Integrated Security=True;" />
	</connectionStrings>
</configuration>